@model Actor

@{
    ViewData["Title"] = "Edit actor";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <h2>Edit Actor</h2>

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id"/>

                    <div class="form-group text-center">
                        <img id="ProfilePicturePreview" style="width: 200px" />
                    </div>

                    <div class="form-group">
                        <label asp-for="ProfilePictureUrl" class="form-label"></label>
                        <input asp-for="ProfilePictureUrl" class="form-control" />
                        <span asp-validation-for="ProfilePictureUrl" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FullName" class="form-label"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Bio" class="form-label"></label>
                        <input asp-for="Bio" class="form-control" />
                        <span asp-validation-for="Bio" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-success float-end">Update</button>
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            var output = document.getElementById("ProfilePicturePreview");
            output.src = $('#ProfilePictureUrl').val();
        })

        $('#ProfilePictureUrl').on("blur", function () {
            var output = document.getElementById("ProfilePicturePreview");
            output.src = $(this).val();
        })
    </script>
}