<div class="row">
    <div class="col-md-6 offset-3 text-center">
        <h2 class="text-info">The Actor yor are searching for not found!!</h2>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Actors" asp-action="Index">All Actors</a>
    </div>
</div>