@model Category

@{
    ViewData["Title"] = "Delete Category";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <h2>Want to delete this Category <b>"@Model.Name"</b>?</h2>

        <div class="row">
            <div class="col-md-8 offset-2">
                
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <div class="form-group">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" readonly/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <button type="submit" class="btn btn-danger float-end">Delete</button>
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </form>
                    </div>


            </div>
        </div>
    </div>
</div>
